In [11]:
import pandas as pd

dictonary1={'Name':['Alberto','Gabriela'],'Salary':[200,100]}
dictonary2={'Name':['Camille','Gabriela'],'Salary':[200,100]}

filename="Salary_20200403.csv"
filename2="Salary_20200420.csv"

df=pd.DataFrame(dictonary1)
df2=pd.DataFrame(dictonary2)
dfresult=pd.DataFrame({})

df.head()

       Name  Salary
0   Alberto     200
1  Gabriela     100

In [12]:
dfresult['Name']=df2['Name']
dfresult[filename[8:-4]]=df['Salary']
dfresult[filename2[8:-4]]=df['Salary']

dfresult.head()

       Name  0200403  0200420
0   Camille      200      200
1  Gabriela      100      100

In [ ]:
df[Name]=['Alberto']

In [13]:
dff = pd.DataFrame({'text': ["Hi how are you","I am fine","I love you","I hate you"]})

dff.head()

             text
0  Hi how are you
1       I am fine
2      I love you
3      I hate you

In [27]:
for item in dff.values():
    print(item)

TypeError: 'numpy.ndarray' object is not callable

In [31]:
n=2

for i in range(1,n+1):
    print(oct(i) + ' '+ hex(i))

0o1 0x1
0o2 0x2